<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/user">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/history">Lịch sử</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Đăng xuất</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li> --}}

                </ul>
            </div>
        </div>
    </nav>
    <div class="container justify-center mt-4 mb-4">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                {{#each phim}}
                <div class="carousel-item active" onclick="movieInfoPage({{IDPhim}})">
                    <img src="/images/{{IDPhim}}-land.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{TenPhim}}</h5>
                    </div>
                </div>
                {{/each}}


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">

            <!-- dòng phải là con trực tiếp của container, mang class row -->
            <div class="row">

                {{#each phim}}
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="card mb-3" id='movie item' style="max-width: 540px; ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/images/{{IDPhim}}.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-header">{{TenPhim}}</div>

                                <div class="card-body">
                                    <p class="card-text">{{DaoDien}}</p>
                                    <p class="card-text"><small class="text-muted">Ngày khởi chiếu: 01/01/2001</small>
                                    </p>
                                    <button class="btn btn-info" onclick="movieInfoPage({{IDPhim}})">Chi tiết</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{/each}}

            </div> <!-- Kết thúc dòng 1 -->
        </div>
    </div>
    <script src="/javascripts/user.js"></script>

</body>

</html>