<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/nhanvien.css">
</head>
<body>
    <div id="modal-bg"></div>
    <div id="modal-box">
        <div id="modal-message"></div>
        <div>
            <button id="modal-confirm">Xác nhận</button>
            <button id="modal-close">Đóng</button>
        </div>
    </div>
    <table>
        <thead>
            <th>ID</th>
            <th>Tên phim</th>
            <th>Nhà phát hành</th>
            <th>Khởi chiếu</th>
            <th>Kết thúc</th>
            <th></th>
        </thead>
        <tbody id="phim">
            {{#each phim}}
                <tr >
                    <td onclick="infomationPage({{IDPhim}})">{{IDPhim}}</td>
                    <td onclick="infomationPage({{IDPhim}})">{{TenPhim}}</td>
                    <td onclick="infomationPage({{IDPhim}})">{{NhaPhatHanh}}</td>
                    <td onclick="infomationPage({{IDPhim}})">{{KhoiChieu}}</td>
                    <td onclick="infomationPage({{IDPhim}})">{{KetThuc}}</td>
                    <td><button onclick="modalConfirm({{IDPhim}})">delete</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/nhanvien/add">Thêm</a>
</body>
<script src="/javascripts/nhanvien.js"></script>
</html>