<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhân viên Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/nhanvien.css">
</head>

<body>
    <div id="modal-bg"></div>
    <div id="modal-box">

        <div id="modal-message"></div>
        <div>
            <button class="btn_modal" id="modal-confirm">Xác nhận</button>
            <button class="btn_modal" id="modal-close">Đóng</button>
        </div>

    </div>
    <div class="container">
        <div class="d-flex justify-content-center m-3">
            <h1>Nhân viên Home Page</h1>
        </div>
        <div class="d-flex justify-content-end m-3">
            <a class="btn btn-primary btn-lg" href="/nhanvien/add">Thêm phim mới</a>
        </div>
        <div class="justify-content-center">
            <table class="table table-striped m-3">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>Tên phim</th>
                        <th>Nhà phát hành</th>
                        <th>Khởi chiếu</th>
                        <th>Kết thúc</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="phim" class="text-center">
                    {{#each phim}}
                    <tr>
                        <td onclick="infomationPage({{IDPhim}})">{{IDPhim}}</td>
                        <td onclick="infomationPage({{IDPhim}})">{{TenPhim}}</td>
                        <td onclick="infomationPage({{IDPhim}})">{{NhaPhatHanh}}</td>
                        <td onclick="infomationPage({{IDPhim}})">{{KhoiChieu}}</td>
                        <td onclick="infomationPage({{IDPhim}})">{{KetThuc}}</td>
                        <td><button class="btn_Delete" onclick="modalConfirm({{IDPhim}})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
                </tbody>
            </table>

        </div>
</body>
<script src="/javascripts/nhanvien.js"></script>

</html>